__pycache__/
datasets/

.DS_Store


trainSceneProject/Library
trainSceneProject/Temp
trainSceneProject/obj

trainSceneProject/Logs

trainSceneProject/.idea
trainSceneProject/.vs
trainSceneProject/.vscode

trainSceneProject/*.csproj
trainSceneProject/*.sln