__pycache__/
datasets/
data/
model/config-local.yaml
model/config.yaml
tools/
out/
models/
inference/*.tar
inference/images/*.*

.DS_Store
.vsconfig

**/Library
**/Temp
**/obj
**/Logs

**/.idea
**/.vs
**/.vscode

**/*.csproj
**/*.sln

*.egg-info/
# unity files 
unity_project/Packages/packages-lock.json
unity_project/ProjectSettings/ProjectVersion.txt
